<!DOCTYPE html>
<html>
    <head>
        <title> Entrance </title>
        <style>
            body{
                background-color: lightgray;
            }
            h1{
                text-align: center;                
            }
            div{              
                text-align: center;
                
            }
            div button{
                height: 50px;
                width: 100px;
            }
            
        </style>
    </head>
    <body>
        <h1> Welcome to Books Review! </h1>
        <div>
            <form>
                <button formaction="/viewRegister"> Register! </button>
            
                <button formaction="/viewLogin"> Login! </button>
            </form>
        </div>
    </body>
</html>